.all_post_card {
  display: flex;
}
.card-height {
  height: 300px;
}
.card-title {
  text-align: justify;
}
.card-title h4 {
  font-size: 20px !important;
  font-weight: bold;
}
.card-des {
  text-align: justify;
}
.blog_head {
  text-align: center;
  margin: 25px 0;
}
.card-buttons {
  position: absolute;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  bottom: 25px;
  width: 90%;
}
.see_det {
  cursor: pointer;
  text-decoration: none;
  color: #606060;
  font-size: 17px;
  font-weight: bold;
}
.mod_btn {
  cursor: pointer;
}
.crt {
  color: #0f13eedc;
}
.del {
  color: #f50000;
}
.card-body input[type="submit"] {
  margin-top: 25px;
  /* color: rgb(0, 0, 0) !important; */
}
.card_details {
  width: 330px;
  margin: 40px auto;
}
.card_det_head {
  margin: 20px 0;
}
.card_det_head h1 {
  font-size: 50px;
}
.page-link {
  cursor: pointer;
}
.search_bar > input {
  width: 350px;
  height: 30px;
  /* border: none; */
}
.search_bar > input:focus {
  outline-width: 0;
}
